<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.pine.examples.petstore.infrastructure.persistence.SequenceMapper">

    <cache />

    <select id="getSequence" parameterType="io.pine.examples.petstore.domain.Sequence" resultType="io.pine.examples.petstore.domain.Sequence">
        SELECT name, nextid
        FROM sequence
        WHERE NAME = #{name}
    </select>

    <update id="updateSequence" parameterType="io.pine.examples.petstore.domain.Sequence">
        UPDATE sequence
        SET NEXTID = #{nextId}
        WHERE NAME = #{name}
    </update>

</mapper>